.row
  .col-md-4
  .col-md-4
    img(src='/images/small.jpg').img-responsive.img-circle
  .col-md-4
.row
  .col-md-12
    h1 {{message}}
.row
  .col-md-1
  .col-md-10
    p {{name}}
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  .col-md-1
.row
  .col-md-3
    p this is where the github logo will go
  .col-md-3
    p this is where the twitter logo will go
  .col-md-3
    p this is where the linkedIn logo will go
  .col-md-3
    p this is where the email me logo will go
