.row.topOfIndex
  .col-md-4
  .col-md-4
    img(src='/images/small.jpg').img-responsive.img-circle.myProfile
  .col-md-4
.row
  .col-md-12
    h1 {{message}}
.row
  .col-md-1
  .col-md-10.mainText
    h3 Hi y'all! I'm Rainu, and I am passionately pursuing the craft of software. 

    h4 As a self-proclaimed JavaScript enthusiast and full-stack developer, my future endeavors will range from learning more JavaScript frameworks to Python. Also, I graduate from Nashville Software School in January 2016, and I'm a proud student of several master craftmen who teach there. I'm so grateful to have found my passion in development, and I can't wait to meet you! If I'm not coding, you can find me playing games, watching football, riding motorcycles, and making a pretty rad Bloody Mary. 
  .col-md-1
.row
  .col-md-3
    a(href='http://www.github.com/Rittycheriah')
      img(src='/images/github.png').img-responsive.icons
  .col-md-3
    a(href='https://www.linkedin.com/in/rittycheriah')
      img(src='/images/linkedin1.png').img-responsive.icons
  .col-md-3
    a(href='http://www.twitter.com/RainuItty')
      img(src='/images/twitter.png').img-responsive.icons
  .col-md-3
    a(href='mailto:rittycheriah@gmail.com')
      img(src='/images/email2.png').img-responsive.icons

