.btn-group.btn-group-justified(role='group', aria-label='...')
  .btn-group(role='group')
    a(href='/projects')
      li.button.btn.btn-default.customNav(type='button') Projects
  .btn-group(role='group')
    a(href='/')
      li.button.btn.btn-default.customNav(type='button') About Me
  .btn-group(role='group')
    a(href="/blog")
      li.button.btn.btn-default.customNav(type='button') Blog
  .btn-group(role='group')
    a(href="https://docs.google.com/document/d/1xBPTQb2R2TzjBfaHiDVSD7s3YVjuDli75TbMmgWR2lA/pub")
      li.button.btn.btn-default.customNav(type='button') Resume


// Make an ng-click to the appropriate route for each
