.btn-group.btn-group-justified(role='group', aria-label='...')
  .btn-group(role='group')
    li.button.btn.btn-default(type='button') 
      a(href='/projects') Projects 
  .btn-group(role='group')
    li.button.btn.btn-default(type='button') 
      a(href='/') About Me
  .btn-group(role='group')
    li.button.btn.btn-default(type='button') 
      a(href='/resume') Resume

// Make an ng-click to the appropriate route for each 
