.row
  .col-md-12
    h1 {{message}}
.row(ng-repeat='project in projects')
  .col-md-4
    a(href='{{project.URL}}')
      img(src='{{project.screenshot}}').img-responsive.img-rounded.projImg
  .col-md-4
    p {{project.name}}
    p {{project.description}}
  .col-md-4
    p Contributors: {{project.contributors}}
.row
  .col-md-3
    a(href='http://www.github.com/Rittycheriah')
      img(src='/images/github.png').img-responsive.icons
  .col-md-3
    a(href='https://www.linkedin.com/in/rittycheriah')
      img(src='/images/linkedin1.png').img-responsive.icons
  .col-md-3
    a(href='http://www.twitter.com/RainuItty')
      img(src='/images/twitter.png').img-responsive.icons
  .col-md-3
    a(href='mailto:rittycheriah@gmail.com')
      img(src='/images/email2.png').img-responsive.icons