.row
  .col-md-12
    h1 {{message}}
.row
  .col-md-4
  .col-md-4
  .col-md-4
.row
  .col-md-3
    p this is where the github logo will go
  .col-md-3
    p this is where the twitter logo will go
  .col-md-3
    p this is where the linkedIn logo will go
  .col-md-3
    p this is where the email me logo will go
