div {
	border:1px solid black;
}

body {
  padding: 2.5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn-default {
	background-color: red;
}

h1 {
	text-align: center;
}

a {
  color: #00B7FF;
}

.myProfile {
	height: 250px;
	width: 250px;
	margin: 0 auto;
}

.icons {
	height: 100px;
	width: 100px;
	margin: 0 auto;
}